@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

.main-container {
    background: url(assets/Hero-bg.png);
    /* position: absolute;
    width: 240.28px;
    height: 240px;
    left: 619.14px;
    top: 0; */
}

/* in the */

.in-the {
    width: 998px;
    height: 136px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    padding: 0px;
}

.main-img {
    width: 240.28px;
    height: 240px;
    left: -257.674px;
    top: 0;
    bottom: 0%;
}

.container-title {
    width: 998px;
    height: 136px;
    gap: 24;
    padding: 0px;
    text-align: center;
}

.container-description {
}

.btn-pri {
    padding: 21px 24px 21px 24px;
    gap: 10;
    width: 196px;
    height: 23px;
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    text-align: center;
    gap: 50px;
}

.container {
    text-align: center;
    margin-top: 100px;
}
.conteiner-1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-right: 100px;
}
.conteiner-2 {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
.conteiner-3 {
    display: flex;
    justify-content: center;
    margin-right: 100px;
}
.saction {
    text-align: center;
}
.video-saction {
    text-align: center;
}
.video {
    margin-top: 50px;
}
.target {
    text-align: center;
    margin-top: 100px;
}
.all {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.html {
    padding: 40px;
    width: 364px;
    height: 200px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-right: 24px;
}
.css {
    padding: 40px;
    width: 364px;
    height: 200px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin-right: 24px;
}

.js {
    margin-right: 24px;
    padding: 40px;
    width: 364px;
    height: 200px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.next {
    text-align: center;
    margin-top: 100px;
}
.react {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.node {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.mongo {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.class {
    margin-right: 20px;
}

.img {
    background: url(assets/handshake.jpg);
}

.footersection {
    width: 1280px;
    display: block;
    margin: 0 auto;
}

.footer1 {
    background: url(assets/handshake.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.footersec {
    padding: 64px;
    border-radius: 20px;
    margin: 40px 0;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;
}

.footer1 h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 700;
}

.footer1 p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.footersub {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footersub input {
    width: 548px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 20px;
}

.footersub input::placeholder {
    font-size: 16px;
    font-weight: 400;
    font-family: "Azeret Mono", monospace;
}

.footersub button {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    padding: 17px;
}

.footer2 {
    background: rgba(13, 19, 33, 0.03);
}

.footermain {
    width: 1280px;
    display: block;
    margin: 0 auto;
}

.footeritems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

.footeritems p {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.footersocial {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footersocial img {
    width: 36px;
    height: 36px;
}
